@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;600;700;800;900&display=swap');

body {
    font-family: "Gothic A1", sans-serif;
    font-weight: 500;
    background-color: #232530;
    color: #F9CEC3;
    text-align: center;
}

h1 {
    color: #D4516f;
    font-size: 6.6em;
    font-weight: 800;
    margin-bottom: 20px;
    margin-top: 27vh;
    text-align: center;
}

h2 {
    color: #D4516f;
    font-size: 2.7em;
    font-weight: 700;
    margin-top: 40px;
}

p {
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 40px;
}

.file-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file-input + label {
    font-size: 1.1em;
    font-weight: 700;
    color: #232530;
    background-color: #1d8991;
    display: inline-block;
    padding: 10px 23px;
}

.file-input + label:hover {
    background-color: #F9CEC3;
}

#error {
    width: 40vw;
    position: fixed;
    text-align: left;
    padding: 60px;
}

#error h2 {
    margin: 0;
    font-size: 3em;
}

#error p {
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: 1.2em;
    text-align: left;
}

#guide {
    background-color: #6c6f93;
    margin-left: 40vw;
    height: 140vh;
    padding: 60px;
    text-align: left;
}

#guide div {
    margin-bottom: 40px;
}

#guide h2 {
    color: #232530;
    font-size: 2em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 10px;
}

#guide p {
    color: #232530;
    font-size: 1.05em;
    font-weight: 500;
    line-height: 1.3em;
    text-align: justify;
    margin: 0;
}

table {
    border-collapse: collapse;
    min-width: 70vw;
    max-width: 70vw;
    margin: 40px auto 80px auto;
    font-size: 1em;
}

caption {
    color: #D4516f;
    font-size: 2.3em;
    font-weight: 700;
    margin-bottom: 40px;
}

thead {
    background-color: #1d8991;
    color: #232530;
}

tbody tr:nth-child(even) {
    background-color: #2f3140;
}

th {
    font-weight: 800;
}

th:hover {
    background-color: #50C08E;
}

th:first-child, td:first-child {
    padding-left: 20px;
}

th:last-child, td:last-child {
    padding-right: 15px;
}

th, td {
    text-align: center;
    padding: 15px 20px;
    border: none;
}

#filter {
    background-color: #2f3140;
    border: 0;
    padding: 10px 10px;
    border-bottom: 4px solid #1d8991;
    position: absolute;
    top: 35px;
    right: 50px;
}

#filter:focus {
    box-shadow: none;
    outline: none;
    border-bottom: 4px solid #50C08E;
}

#filter:focus::placeholder {
    color: #50C08E;
}

::placeholder {
    color: #1d8991;
    font-weight: 600;
}

.padding {
    display: block;
    height: 20vh;
}

.chart {
    width: 400px; !important
    height: 400px; !important
}

.chart-container {
    width: 70vw;
    margin: 0 auto;
}

#charts-button {
    font-size: 1.1em;
    font-weight: 700;
    color: #232530;
    background-color: #50C08E;
    display: inline-block;
    padding: 10px 23px;
    border: 0;
    position: absolute;
    top: 35px;
    left: 50px;
}

#charts-button:hover {
    background-color: #F9CEC3;
}
