@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;600;700;800;900&display=swap');

body {
    font-family: "Gothic A1", sans-serif;
    font-weight: 500;
    background-color: #232530;
    color: #F9CEC3;
    scrollbar-width: none;
    overflow-y: scroll;
    text-align: center;
}

body::-webkit-scrollbar {
    display: none;
}

h1 {
    color: #D4516f;
    font-size: 6.6em;
    font-weight: 800;
    margin-bottom: 20px;
    margin-top: 27vh;
    text-align: center;
}

p {
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 40px;
}

.file-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file-input + label {
    font-size: 1.1em;
    color: #232530;
    font-weight: 700;
    background-color: #1d8991;
    display: inline-block;
    padding: 10px 23px;
}

.file-input + label:hover {
    background-color: #F9CEC3;
}

table {
    border-collapse: collapse;
    min-width: 70vw;
    max-width: 70vw;
    margin: 40px auto 80px auto;
}

caption {
    color: #D4516f;
    font-size: 1.9em;
    font-weight: 700;
    margin-bottom: 20px;
}

thead {
    background: #1d8991;
    color: #232530;
}

tbody tr:nth-child(even) {
    background: #2f3140;
}

th {
    font-weight: 800;
}

th:first-child, td:first-child {
    padding-left: 20px;
}

th:last-child, td:last-child {
    padding-right: 15px;
}

th, td {
    text-align: center;
    padding: 10px 20px;
    border: none;
}

#filter {
    background-color: #2f3140;
    border: 2px solid #1c1a21;
    border-radius: 5px;
    padding: 5px 10px;
    position: absolute;
    top: 47px;
    right: 50px;
}

#filter:focus {
    box-shadow: none;
    outline: none;
}

::placeholder {
    color: #1d8991;
    font-weight: 600;
}
