<!DOCTYPE html>
<html>
    <head>
        <title>lumberjack</title>
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <div class="padding"></div>

        <div class="chart-container">
            <canvas id="chart" class="chart"></canvas>
        </div>

        <script src="js/chart.min.js"></script>
        <script src="js/data.js"></script>
        <script src="js/charts.js"></script>
    </body>
</html>
