<!DOCTYPE html>
<html>
    <head>
        <title>lumberjack</title>
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/skeleton.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <input label="filter" id="filter" placeholder="filter">

        <table>
            <caption>{{ file }}</caption>
            <thead>
                <tr id="tableHeader">
                </tr>
            </thead>
            <tbody id="tableBody">
            </tbody>
        </table>

        <script src="js/table.js"></script>
    </body>
</html>
