<!DOCTYPE html>
<html>
    <head>
        <title>lumberjack</title>
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <input label="filter" id="filter" placeholder="filter">

        <form action="/charts" method="post" id="charts_form">
            <button name="file_name" type="submit" value="{{ file_name }}" id="charts-button">charts</button>
        </form>

        <table>
            <caption id="file">{{ file_name }}</caption>
            <thead>
                <tr id="tableHeader">
                </tr>
            </thead>
            <tbody id="tableBody">
            </tbody>
        </table>

        <script src="js/data.js"></script>
        <script src="js/table.js"></script>
    </body>
</html>
